.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 50px;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    mix-width: 100px;
}

.form-row {
    display: flex;
    align-items: center;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #968989;
    width: 100%;
    color: #7d8871;
}

/*.input-title {*/
/*    border: none;*/
/*    background: none;*/
/*    font-size: 32px;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    line-height: normal;*/
/*    font-family: 'Source Sans 3', sans-serif;*/
/*    border-bottom: 1px solid green*/
/*}*/

.invalid {
    border: 1px solid red;
    background: #f1b8b8;
}

